body{
    background-color: palegoldenrod;
    font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3{
    text-align: center;
}
h1{
    font-size: 40px;
    
}
p{
    font-size: 16px;
}
li{
    padding: 3px;
    font-size: 14px;
}
.text-cont{
    margin-left:15%;
    margin-right: 15%;
}
.recipie-list{
    font-size: 26px;
    text-align: center;
}
.img-cont{
    text-align: center;
}